.adminpage {
    width: 100%;
    height: 100%;
}
.navbar {
    background-color: white;
    height: 60px;
    box-shadow: 3px 3px 3px #d4d4d4;
}
.search-btn {
    display: flex;
}
input:focus {
    outline: none;
}
.search {
    margin-left: 80px;
    padding: 10px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px 0 0 5px;
    font-weight: 500;
}
input:focus {
    width: 300px;
    transition: 1s;
}
.search-button {
    background-color: #3b3b3b;
    border: none;
    border-radius: 0 5px 5px 0;
    width: 45px;
}
.search-button i {
    color: white;
}
.sidebar {
    position: absolute;
    float: left;
    width: 150px;
    height: 100vh;
    background-color: #6a5acd;
    align-items: center;
    transform: translateX(-100px);
    z-index: 1;
}
.sidebar i {
    padding-top: 35px;
    padding-left: 7px;
    box-sizing: border-box;
    color: white;
    display: flex;
}
.sidebar .icon {
    transform: translateX(105px);
    animation-name: icon;
}
.sidebar p {
    margin: 0;
    margin-left: 20px;
    font-weight: 500;
    transform: translateX(-200px);
}
.sidebar:hover {
    transform: translateX(0px);
    animation-duration: 1s;
}
.sidebar:hover p {
    animation-name: slide;
    animation-duration: 1s;
}
@keyframes icon {
    0% {
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(-100px);
    }
}
@keyframes slide {
    0% {
        transform: translateX(-200px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}
.navbar .navbar-right {
    display: flex;
    align-items: center;
    width: 250px;
    color: grey;
    justify-content: space-around;
    float: right;
}
.navbar p {
    margin: 0px;
}
.dashboard-bottom-chart {
    display: flex;
    justify-content: space-between;
}
.dashboard {
    padding-left: 90px;
    padding-right: 50px;
    margin-top: 20px;
}
.dashboard-title {
    font-weight: 600;
}
.dashboard-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}
.dashboard-box {
    width: 400px;
    height: 130px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}
.dashboard-box-title {
    font-size: 20px;
    font-weight: 500;
    color: grey;
}
.dashboard-box i {
    color: grey;
}
.left {
    float: left;
}
.right {
    float: right;
}
.blue {
    box-shadow: inset 0.5em 0em skyblue;
}
.green {
    box-shadow: inset 0.5em 0em #30ad56;
}
.purple {
    box-shadow: inset 0.5em 0em #6a5acd;
}
.yellow {
    box-shadow: inset 0.5em 0em #e9c85d;
}
.dashboard-chart {
    background-color: #eee;
    box-shadow: 1px -1px 10px grey;
    border-radius: 5px;
    width: 1250px;
}
.chart-title {
    padding: 15px;
    border-bottom: 1px solid #c4c4c4;
}
.chart-title h3 {
    margin: 0px;
}
.chart {
    background-color: white;
    padding: 30px;
}
.table {
    box-shadow: 1px -1px 10px grey;
    border-radius: 5px;
    width: 500px;
    height: 250px;
    font-size: 25px;
}
tr td {
    vertical-align: middle;
}
.table-title {
    background-color: #eee;
    border-bottom: 1px solid #c4c4c4;
    font-weight: 600;
    font-size: 28px;
}
.table-content {
    background-color: white;
    color: grey;
}

@media screen and (max-width: 576px) {

}