@font-face {
    font-family: 'font';
    src: url(../font/BlackHanSans-Regular.ttf); /* 한글 폰트는 용량이 크니까 최대 2개 사용 */
    /* 용량을 줄이려면 .woff 폰트 사용 */
}

div, input, textarea {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'gulim';
    /* font-family: 'font'; */
}
/* normalize 사용하면 다른 브라우간에서도 똑같이 작용 */
/* 
p,h1,h2,h3,h4,span,button {
    transform: rotate(0.03deg); 폰트 부드럽게 처리하려면 폰트를 살짝 회전
} */

/* 
.flex-container {
    display: flex; /* 가로 배치 */
    /* align-items: center; 상하 정렬 */
    /* flex-wrap: wrap; width크면 자동으로 밑으로 내림 */
    /* flex-direction: column; display: flex사용시 세로 정렬 */
    /* justify-content: center; flex 이용시 정렬
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 5px;
} */

.nav-container {
    background-color: #ff7878;
    color: white;
    display: flex;
    height: 40px;
    align-items: center;
    padding: 10px;
}

.nav-item {
    font-family: 'gulim';
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
}

/* .container {
    display: flex;
    background-color: #ff7878;
    color: white;
    align-items: center;
    font-family: 'gumil';
}

.logo {
    font-size: 45px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.products, .services {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
} */

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    /* cover : 배경이 짤려도 상관없으니 빈공간 없이 배경으로 꽉채워라
       contain : 배경이 짤리면 안됩니다 */
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    position: relative;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}

.main-introduce {
    color: white;
    font-size: 18px;
    text-align: center;
}

.main-button {
    border: none;
    border-radius: 5px;
    background: white;
    padding: 15px;
    font-size: 18px;
    color: gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute; /* position을 부여하면 1. 공중에 뜸, 2.좌표이동가능 */
    /* position : static -> 좌표이동 X 
       position : fixed -> 현재 화면이 기준
       position : relative -> 내 원래 위치를 기준으로 이동하세요
       position : absolute -> 내 부모 태그 중에 position : relative 가진 부모 기준 */
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
}

.sub-box {
    background-color: #eee;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    /* position: absolute;
    left: 0;
    right: 0;
    top: 450px; */
    position: relative;
    top: -40px;
    margin: auto;
    text-align: center;
    /* box-sizing: border-box; 이러면 width가 padding, border 포함함 */
    /* box-sizing: content-box; 이러면 width가 padding, border 포함 안함 */
}

/* input[속성명 = 속성값] -> input[type=text] -> type이 text인 것만 디자인 해주세요 */
/* 
input { 
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
} */

.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    display: block;
    margin-left: auto;
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: #ffa100;
    color: white;
    border: none;
}

@media screen and (max-width: 1200px) {
    .main-title {
        font-size: 30px;
    }
    .nav-item {
        font-size: 16px;
    }
}