.main-background {
    width: 100%;
    height: 500px;
    background: linear-gradient(#3cb4ff, #4646cd);
    padding: 70px;
    box-sizing: border-box;
}


.main-title {
    width: 430px;
    color: white;
    font-family: 'gulim';
}

.main-title button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    background-color: #404040;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 10px;
}

.portfolio1 {
    width: 350px;
    position: absolute;
    top: 119px;
    right: 80px;
}

.content {
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
    text-align: center;
}

.content button {
    width: 140px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #404040;
    color: white;
    margin-top: 10px;
}

.services {
    width: 100%;
    height: 350px;
    background: #4646cd;
    color: white;
    align-items: center;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}

.services h5, p {
    margin: 0;
}

.product-container {
    width: 100%;
    max-width: 1000px;
    padding-top: 20px;
    margin: auto;
}

.product-container div {
    float: left;
    width: 25%;
    text-align: center;
}

.product-container i {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: #4646cd;
    margin-top: 20px;
}

.product-container p {
    font-size: 14px;
}

.portfolio {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.portfolio-title {
    text-align: center;
    align-items: center;
}

.portfolio-title p, h3 {
    margin: 0;
}

.portfolio-img {
    width: 70%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
}

.portfolio-text {
    color: white;
    padding: 60px;
    box-sizing: border-box;
}

.portfolio-text p {
    margin-top: 20px;
}

.background-img1 {
    background-image: url(../img/portfolio2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
}

.background-img2 {
    background-image: url(../img/portfolio3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
}

.background-img3 {
    background-image: url(../img/portfolio4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
}

.background-img4 {
    background-image: url(../img/portfolio5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
}

.portfolio-1 p {
    font-size: 14px;
    margin-top: 10px;
}

.collect {
    width: 80%;
    max-width: 1000px;
    padding-top: 20px;
    margin: auto;
    text-align: center;
}

.collect div {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.collect i {
    background-color: #4646cd;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding-top: 20px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;
}

.collect  p {
    margin: 40px;
}