%list {
    background-color: #2556e7;
    color: white;
}

.list {
    li {
        width: 400px;
        height: 40px;
        padding: 10px;
        font-size: 18px;
        border: 1px solid #eee;
        display: flex;
        align-items: center;
        list-style: none;
    }
    .first-li:active {
        @extend %list
    }
    .second-li:active {
        @extend %list
    }
    .third-li:active {
        @extend %list
    }
}

@mixin alert-style($background, $color) {
    width: 700px;
    height: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: $background;
    color: $color;
    span {
        font-weight: bold;
    }
}

.alert {
    .first-alert {
        @include alert-style(#bcffd2, #00772e)
    }
    .second-alert {
        @include alert-style(#bcd9ff, #001277)
    }
    .third-alert {
        @include alert-style(#f5ffbc, #6b7700)
    }
}

@mixin row-style() {
    width: 70%;
    display: flex;
    margin-bottom: 20px;
}

@mixin col-style($width) {
    width: $width;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #cea6c8;
    background-color: #dfc9dc;
    p {
        margin: 5px;
    }
}

.column {
    .row {
        @include row-style()
    }
    .col-6 {
        @include col-style(50%)
    }
    .col-4 {
        @include col-style(33.33%)
    }
}